@import url(/reset.css);
@import url(/responsive.css);

main{
  height: 842px;
  width: 1930px;
  background-color: #f5f5f4;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 40px;
}

.big-square img{
  height: 606px;
  width: 606px;
  border-radius: 5%;
}

.small-square img{
  height: 136px;
  width: 136px;
  border-radius: 5%;
}

.small-div{
  margin-top: 10px;
display: flex;
width: 606px;
justify-content: space-between;
}

.deuxiemed{
  width: 830px;
}

h2{
  color: #f97316;
  font-size: 2rem; }

h1{
  line-height: 1rem;
}

p{
  color: #78716c;
}

.black{
  color: black;
  font-size: 2rem;
}

.container{
  width: 490px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.columntri{
  display: flex;
  align-items: center;
  gap: 5%;
}

.sticker{
  height: 25px;
  width: 40px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f97316;
}

.sticker p{
  font-size: 1rem;
}

.panier{
  display: flex;
  width: 500px;
}

.boutonp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rec{
  height: 100%;
  width: 30px;
  border:1px solid #78716c;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px #78716c;
}

.border{
  border: 1px solid #78716c;
}

.boutonpanier{
width: 200px;
background-color: #f97316;
display: flex;
justify-content: center;
align-items: center;
border-radius: 15px;
margin-left: 10px;
}

.small-square:active{
  background: #68625e;
  border: 1px solid #f97316;
  border-radius: 5%;
}

.small-square img:active{
  background-color: #a39c97;
} 