html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}

/* ----------------------------------- */

body{
	font-size: 14px;
	font-family: sans-serif;
	--headerHeight: 6em;
	--footerHeight: 2em;
}

header,
section,
footer{
	position: absolute;
	left:0;
	right: 0;
}

td{
	vertical-align: middle;
}
header{
	background:red;
	height: var(--headerHeight);
	display: flex;
	align-items: center;
}
.home h1{
	margin: 0 2em;
	display: flex;
	align-items: center;
}
h2{
	margin: 1em 0;
	font-weight: bold;
}
article img{
	max-width: 250px;
}
.imgbox{
	display: flex;
	align-items: center;
}
.imgbox.float{
	display: block;
	align-items: unset;
	background: green;
}

p{
	margin-left: 1em;
}
.imgbox.float img{
	float: left;
}
.imgbox.float::after{
	content: '';
	clear: both;
}
.logo{
	margin-right: 0.5em;
}
.logo svg{
	width: 2em;
	width: 2em;
}
nav{
	margin-left: auto;
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li{
	margin: 0 1em;
}
section{
	background:blue;
	top:var(--headerHeight);
	bottom: var(--footerHeight);
	overflow: auto;
}
article{
	font-size: 1.2em;
	margin: 1em;
	container-type: inline-size;
}
footer{
	background:green;
	bottom: 0;
	height: var(--footerHeight);
}
@container (max-width: 320px){
	article p{
		font-size: 0.5em;
		background-color: blueviolet;
	}
}
@media (width <= 320px) {
	body{
		--headerHeight: 4em;
	}
	article img{
		max-width: 120px;
	}
	.home h1{
		display: none;
	}
	nav{
		margin: auto;
	}
	section{
		bottom: 0;
	}
	footer{
		display: none;
	}
}
